PORT=7000
PUBLIC_BASE_URL=
REQUEST_TIMEOUT_MS=7000
CACHE_TTL_SECONDS=60
TEST_PROVIDER_ENABLED=true

STREAMED_ENABLED=true
STREAMED_BASES=https://streamed.pk,https://streamed.st
STREAMED_DISCOVER_OFFICIAL_MIRRORS=true
STREAMED_MIRROR_INDEX=https://strmd.link/

ROXIE_ENABLED=true
ROXIE_BASE_URL=https://roxiestreams.info
ROXIE_EVENT_MAP_JSON=[]

AUTHORIZED_FEED_URL=
AUTHORIZED_FEED_BEARER_TOKEN=
AUTHORIZED_CHANNELS_JSON=[]
